<!doctype html>
<html lang="en" data-ng-app="app">
    <head>
        <title>App Title</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="styles/theme-simple.css" />
        <link rel="stylesheet" href="styles/main.css" />
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

        <base href="/">
    </head>

    <body>
        <!-- Navigation -->
        <header class="navbar navbar-default" role="navigation" data-ng-controller="NavigationController">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">App Title</a>
                </div>

                <div class="collapse navbar-collapse" data-uib-collapse="navCollapsed">
                    <ul class="nav navbar-nav">
                        <li data-uib-dropdown>
                            <a href="#" data-uib-dropdown-toggle>Menu 1 <i class="fa fa-caret-down"></i></a>
                            <ul class="dropdown-menu" data-uib-dropdown-menu>
                                <li><a href="#">Page 1</a></li>
                                <li><a href="#">Page 2</a></li>
                                <li><a href="#">Page 3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Menu 2</a></li>
                        <li><a href="#">Menu 3</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-top-links navbar-right">
                        <li data-uib-dropdown>
                            <a href="#" data-uib-dropdown-toggle>
                                <i class="fa fa-user fa-fw"></i>Login
                                <i class="fa fa-caret-down"></i>
                            </a>

                            <ul class="dropdown-menu" data-uib-dropdown-menu>
                                <li><a href="#">Page 1</a></li>
                                <li><a href="#">Page 2</a></li>
                                <li><a href="#">Page 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>


        <!-- Main content -->
        <div class="container" id="page-wrapper">
            <h2>
                <i class="fa fa-angle-right"></i> Title<br>
                <small>Sub-Title</small>
            </h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consequat, ex a finibus rutrum, augue turpis congue metus, ut ornare orci justo a lacus. Fusce ac augue at sapien hendrerit tempus ac a magna. Proin felis libero, ultrices ac sapien nec, finibus tempor nulla. In non quam sagittis, vulputate urna quis, lacinia nisi. Pellentesque feugiat dui elit, nec lobortis justo malesuada vitae. Curabitur felis est, blandit ac tempor sit amet, scelerisque sit amet leo. Mauris nec accumsan velit. Cras nec ultricies magna. Quisque a facilisis dui. Sed sed purus et nibh malesuada interdum non vel justo. Quisque vel venenatis augue.</p>

            <p>In hac habitasse platea dictumst. Sed gravida eu tellus at lacinia. Quisque nisi lectus, ornare eget molestie fringilla, porta quis quam. In hac habitasse platea dictumst. Curabitur tempus ligula vitae neque fringilla, non posuere dolor convallis. Curabitur quis tellus mattis, efficitur diam vel, varius est. Nam commodo id justo eget lobortis. Sed lacinia porttitor ipsum, quis accumsan nulla laoreet et. Aliquam sit amet ex vehicula, semper lacus quis, interdum libero. Proin hendrerit, nibh vitae eleifend feugiat, ex neque aliquam nibh, pellentesque suscipit orci augue sit amet ipsum. Nulla facilisi.</p>

            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sit amet accumsan nisl. Pellentesque ac nisl nec nunc pharetra vulputate a nec ante. Vivamus viverra turpis non diam porttitor imperdiet. Aliquam mollis mollis erat ut consectetur. Integer sapien nisi, dignissim quis cursus ac, facilisis in tellus. Morbi id urna ullamcorper, rutrum dui id, vestibulum orci. Ut vitae fringilla ipsum. Vestibulum sollicitudin ornare sem at efficitur. Integer laoreet vehicula lorem in ultricies.</p>
        </div>
    

        <!-- Javascript -->
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="scripts/app.js"></script>
    </body>
</html>
