/**
 * Fiehn Lab Theme
 */

body {
    background-color: #f9f4e5;
    font-family: "Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif";
}

#page-wrapper {
    background-color: #fff;
    padding-top: 20px;
    min-height: 800px;
}

@media (min-width: 768px) {
    #page-wrapper {
        border-left: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        margin: 0 auto;
    }
}

@media (max-width: 1535px) and (min-width: 768px) {
    #page-wrapper {
        width: 80%;
        max-width: 767px;
    }
}

@media (max-width: 2047px) and (min-width: 1536px) {
    #page-wrapper {
        width: 60%;
    }
}

@media (min-width: 2048px) {
    #page-wrapper {
        position: inherit;
        width: 50%;
    }
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/* Navigation */
.navbar {
    margin-bottom: 0px;
}

.navbar-default .navbar-brand {
    color: #FFCD00;
    font-size: large;
    margin-bottom: 0px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFCD00;
}

.navbar-default {
    background-color: #1A3E68;
    border-bottom: 5px solid #DFC166;
}

.dropdown-toggle, .dropdown-menu {
    cursor: pointer;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    background-color: #335379;
    color: #DFC166;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: medium;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #DFC166;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #335379;
    color: #DFC166;
}

.dropdown-menu > li > a:hover {
    color: white;
    background-color: #335379;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 5px;
    border-radius: 10px;
}

.dropdown-menu:after {
    position: inherit;
    left: 3px;
    top: -5px;
    width: inherit;
    height: inherit;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.navbar .navbar-right > li > .dropdown-menu:after {
    left: auto;
    right: 3px;
}
